<div class="user-form">
  <h1>{{title}}</h1>
  <form [formGroup]="form" (ngSubmit)="createUser()">
    <div class="field">
      <md-input-container>
      <input mdInput
        [formControlName]="'username'" type="text" placeholder="Username"/>
        <md-hint *ngIf="formError(form.controls.username)">{{formError(form.controls.username)}}</md-hint>
      </md-input-container>
    </div>
    <div class="field">
      <md-input-container>
        <input mdInput
          [formControlName]="'name'" type="text" placeholder="Display name"/>
        <md-hint *ngIf="formError(form.controls.name)">{{formError(form.controls.name)}}</md-hint>
        </md-input-container>
    </div>
    <div class="field">
      <md-input-container>
      <input mdInput
        [formControlName]="'email'" type="email" name="email" placeholder="Email address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
        <md-hint *ngIf="formError(form.controls.email)">{{formError(form.controls.email)}}</md-hint>
      </md-input-container>
    </div>
    <div class="field">
      <md-input-container>
      <input mdInput
        type="password" [formControlName]="'password'" name="password" placeholder="Password"/>
        <md-hint *ngIf="formError(form.controls.password)">{{formError(form.controls.password)}}</md-hint>

      </md-input-container>
    </div>
    <div class="field">
      <md-input-container>
      <input mdInput
        type="password" [formControlName]="'password_confirmation'" name="password_confirmation" placeholder="Confirm password"/>
        <md-hint *ngIf="formError(form.controls.password_confirmation) && !passwordMatchesConfirmation()">{{formError(form.controls.password_confirmation)}}</md-hint>
        <md-hint *ngIf="passwordMatchesConfirmation()">{{passwordMatchesConfirmation()}}</md-hint>
      </md-input-container>
    </div>
    <div class="field submit-button-div">
      <button type="submit">Submit</button>
    </div>
    <div *ngIf="loading">
      Loading...
    </div>
  </form>
</div>
