.error-div {
    color: red;
    ul {
        padding-left: 0px;
        li {
            list-style: none;
        }
    }
}

.textfield-error {
    border-left: 5px solid red;
}

.submit-button-div {
    padding: 10px;
}