<div  class="user-form">
  <h1>Register a new user</h1>
  <form [formGroup]="form" (ngSubmit)="createUser()">
    <div class="field">
      <label>Username</label><br/>
      <input  [formControlName]="'username'" type="text" />
      <div *ngIf="form.controls.username.errors && form.controls.username.touched">
        <p *ngIf="form.controls.username.errors.minlength">
          Username too must be over {{form.controls.username.errors.minlength.requiredLength}} letters
        </p>
        <p *ngIf="form.controls.username.errors.required">
          Username is required.
        </p>
      </div>
    </div>
    <div class="field">
      <label>Name</label><br/>
      <input  [formControlName]="'name'" type="text" />
      <div *ngIf="form.controls.name.errors && form.controls.name.touched">
        <p *ngIf="form.controls.name.errors.minlength">
          Name too must be over {{form.controls.name.errors.minlength.requiredLength}} letters
        </p>
        <p *ngIf="form.controls.name.errors.required">
          Name is required.
        </p>
      </div>
    </div>
    <div class="field">
      <label>Email</label><br />
      <input [formControlName]="'email'" type="email" name="email"  />
      <div *ngIf="form.controls.email.errors && form.controls.email.touched">
        <p *ngIf="form.controls.email.errors.required">
          Email is required.
        </p>
      </div>
    </div>
    <div class="field">
      <label>Password</label><br />
      <input type="password" [formControlName]="'password'" name="password"/>
      <div *ngIf="form.controls.password.errors && form.controls.password.touched">
        <p *ngIf="form.controls.password.errors.minlength">
          Password too must be over {{form.controls.password.errors.minlength.requiredLength}} letters
        </p>
        <p *ngIf="form.controls.password.errors.maxLength">
          Password cant be over {{form.controls.password.errors.maxLength.maxLength}} letters
        </p>
        <p *ngIf="form.controls.password.errors.required">
          Password is required.
        </p>
      </div>
    </div>
    <div class="field">
      <label>Password Confirmation</label><br/>
      <input type="password" [formControlName]="'password_confirmation'" name="password_confirmation" />
      <div *ngIf="form.controls.password_confirmation.errors && form.controls.password_confirmation.touched">
        <p *ngIf="form.controls.password_confirmation.errors.required">
          Password confirmation is required.
        </p>
      </div>
    </div>
    <button type="submit">Submit</button>

  </form>
</div>
