<div class="column-container">
  <div class="column left">
    <h4>Go to commune</h4>
    <div class="single-commune" *ngFor="let commune of communes">
      <b>{{commune.name}}</b>
      <button md-raised-button (click)="selectCommune(commune)">Choose</button>
      <hr />
    </div>
    <h4>Log out</h4>
    <button md-raised-button (click)="logout()">Log out</button>
  </div>
  <div class="column right">
    <h4>Update your profile</h4>
    <app-user-form [user]="user"></app-user-form>
  </div>
</div>
