<h1>Log in</h1>
<div class="login-field">
      <md-input-container>
            <input mdInput type="text" [(ngModel)]="username" placeholder="Username" autocapitalize=off/>
      </md-input-container>
</div>
<div class="login-field">
      <md-input-container>
            <input mdInput type="password" [(ngModel)]="password" placeholder="Password" />
      </md-input-container>
</div>
<div class="login-field submit-button-div">
      <button md-raised-button (click)="login()">Log In</button>
</div>
<div *ngIf="loading">
      Logging in..
</div>
<div class="login-error">
      {{errorText}}
</div>

<br/><br/>
<hr/>

<app-user-form [disabled]="disableRegister" (userUpdated)="handleRegister($event)" ></app-user-form>
